header {
    background-color: rgba(33, 45, 57, 0.80);
    font-family: "Kreon", serif;
    color: white;
    

}

body {
    font-family: "Kreon", serif;
}

h1 {
    background-color: #3e2c0a;
    color: white;
    font-family: "Kreon", serif;
    font-size: 70px;

}

p {
    background-color: white;
    color: #3e2c0a;
    font-family: "Kreon", serif;
    font-size: 30px;
}

.cake {
    background-image: url(../img/pexels-photo-132694.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#entête {
    padding-top: 170px;
}

.navbar {
    background-color: rgba(33, 45, 57, 0.80);
    ;
}

#presentation p {
    color: black;
    font-size: 18px
}

.divider {
    width: 60px;
    height: 3px;
    background-color: #3e2c0a;
    margin: 15px auto;
}

#presentation {
    background-color: white;
}

#chiffre {
    width: 100%;
    min-height: 400px;
    padding: 80px 0;
    background-image: url("../img/kitchen-cake-backe-backing.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#chiffre p,
#chiffre h3,
#chiffre i {
    color: white;
    background: transparent;

}

#chiffre p {
    font-size: 18px;
}

#carte h2 {
    font-size: 40px;
}

#carte p {
    color: black;
    font-size: 18px;
}

.produits {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-img img {
    width: 250px;
    height: auto;
    border: 4px solid white;
    display: block;
}

.menu-contenue {
    max-width: 320px;
    text-align: left;

}

.menu-contenue h3,
.menu-contenue p {
    color: white;
    background: transparent;
}



#menus {
    background-image: url(../img/pexels-photo-24553.jpg);
    background-size: cover;
}

#menus p,
#menus h2 {
    background: transparent;
    color: white;
}

.menu-img {
    flex: 0 0 260px;
}

.menu-contenue {
    max-width: 300px;
}

.menu-contenue h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.menu-contenue p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.menu-contenue .btn {
    font-size: 13px;
    padding: 5px 12px;
}

.prix1 {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color:#3e2c0a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 4px solid white;
}

.prix2 {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(42, 187, 42);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 4px solid white;
}

.prix3 {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5bc0de;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 4px solid white;
}

.prix4 {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #3e2c0a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: 4px solid white;
}

.nav-link:hover{
    background-color: #3e2c0a ;
    
}

#contact h2,
#contact p{
    color: black;
}

.infos h4,
.infos p{

    color: black
};

.titre{
    font-size: 25px;
}

.infos p{
    font-size: 18px;
}

.lorem{
    color: black;
}

#reservation p{
    color: black;
}

footer{
    background-color: #3e2c0a;
}

footer p{
    background: transparent;
    color: white ;
}

.social{
    color: white;
}

